<section class="row row--centered patterned-section" data-aos="fade-up" data-aos-duration="1000">
  <div class="wave" aria-hidden="true">
    {% include svg/wave.svg %}
  </div>
  <p class="col col--1of2 alert" data-aos="fade-up" data-aos-duration="1500">
    The information provided by the <em>Journal Checker Tool</em> represents cOAlition S’s current understanding in relation to the policies of the journals contained within it. We will endeavour to keep it up to date and accurate, but we do not accept any liability in relation to any errors or omissions.
  </p>
</section>
