{{ define "head" }}
    {{- partial "head.html" . -}}
{{ end }}

{{ define "header" }}
    {{- partial "static-header.html" . -}}
{{ end }}

{{ define "main" }}
    <main class="container">
        <div class="row row--centered">
            <div class="col col--1of2">
                <h1>{{ .Title }}</h1>
                {{ .Content | safeHTML }}
                {{ range .Data.Pages }}
                    <h3>Release: {{ .File.BaseFileName }}</h3>
                    <b>Date:</b> {{ time.Format "2006-01-02" .Date }}<br/>
                    <b>Feature:</b> {{ .Title }}<br/>
                    {{ .Content | safeHTML }}
                    <hr/>
                {{ end }}
            </div>
            {{- partial "content-alert.html" . -}}
        </div>
    </main>
{{ end }}

{{ define "footer" }}
    {{- partial "main-footer.html" . -}}
{{ end }}

{{ define "modal" }}
    {{- partial "modal.html" . -}}
{{ end }}

{{ define "script" }}
    {{- partial "static-initialize-js.html" . -}}
{{ end }}
