<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#282624">

  <!-- Animate on scroll library -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
	<!--[if IE]>
	<p class="browserupgrade">You are using an outdated browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<header class="query">
    <div class="container">
      <h2 class="label">
        {% include svg/oa.svg %} Journal Checker Tool
      </h2>
      <h1>
        Is this compliant with <br/><a href="#">Plan S</a>?
      </h1>

      <form id="query-form" class="row query-form" action="" onsubmit="">
        <h2 class="sr-only">Make a query</h2>
        <div class="col col--1of3 expression">
          <div class="expression__input">
            <label for="query-journal">Journal</label>
            <input type="text" placeholder="By ISSN or title" id="query-journal" required></input>
          </div>
          <div class="expression__operator">
            {% include svg/plus.svg %}
          </div>
        </div>

        <div class="col col--1of3 expression">
          <div class="expression__input">
            <label for="query-funder">My funder</label>
            <input type="text" placeholder="By Crossref Funders’ ID or name" id="query-funder" required></input>
          </div>
          <div class="expression__operator">
            {% include svg/plus.svg %}
          </div>
        </div>

        <div class="col col--1of3 expression">
          <div class="expression__input">
            <label for="query-institution">My institution</label>
            <input type="text" placeholder="By ROR or name" id="query-institution" required></input>
            <br/>
            <div class="expression__checkbox">
              <input type="checkbox" id="query-unaffiliated"/>
              <label for="query-unaffiliated">No affiliation</label>
            </div>
          </div>
          <div class="expression__operator">
            <!-- Temp inline JS; link should also be a <button> -->
            <a href="#results"
            onclick="
              document.getElementsByClassName('query')[0].classList.toggle('query--compliant');
              document.getElementsByClassName('results')[0].classList.toggle('results--compliant');
            ">
              {% include svg/equal.svg %}
              <span class="button button--primary">Check</span>
            </a>
          </div>
        </div>
      </form>
    </div>
	</header>

  <main class="container results" id="results">
    <header>
      <h2 data-aos="fade-up" data-aos-duration="2000">
        <strong>Yes</strong>, this combination is <br/><a href="#">compliant</a>.
      </h2>
    </header>

    <div class="wave" aria-hidden="true">
      {% include svg/wave.svg %}
    </div>

    <section class="row">
      <h3 class="sr-only">Results</h3>
      <div class="col col--1of4">
        <article class="card" data-aos="fade-up" data-aos-duration="2000">
          <span class="card__icon">{% include svg/open-padlock.svg %}</span>
          <h4 class="label card__heading">Full <br/>Open Access</h4>
          <p>Go ahead and publish. No additional actions to take.</p>
          <p><em>Annals of Nuclear Cardiology</em> is fully open access.</p>
        </article>
      </div>

      <div class="col col--1of4">
        <article class="card" data-aos="fade-up" data-aos-duration="2000">
          <span class="card__icon">{% include svg/contract.svg %}</span>
          <h4 class="label">Transformative <br/>Agreement</h4>
          <p>You have to do X and consult Y to comply and <a href="#">make sure to read this information</a>.</p>
          <p><em>Annals of Nuclear Cardiology</em> is part of a transformative agreement between Publisher X and University of Cambridge.</p>
        </article>
      </div>

      <div class="col col--1of4">
        <article class="card" data-aos="fade-up" data-aos-duration="2000">
          <span class="card__icon">{% include svg/transform.svg %}</span>
          <h4 class="label">Transformative <br/>Journal</h4>
          <p>You have to do X and consult Y to comply and <a href="#">make sure to read this information</a>.</p>
        </article>
      </div>

      <div class="col col--1of4">
        <article class="card" data-aos="fade-up" data-aos-duration="2000">
          <span class="card__icon">{% include svg/archive.svg %}</span>
          <h4 class="label">Self-archiving <br/>Journal</h4>
          <p>Go ahead and publish. No additional actions to take.</p>
          <p><em>Annals of Nuclear Cardiology</em> is a transformative journal approved by cOAlition S.</p>
        </article>
      </div>
    </section>

    <div class="row" data-aos="fade-up" data-aos-duration="1000">
      <div class="col col--1of3">
        <!-- Temp inline JS; link should also be a <button> -->
        <button class="button button--primary" onclick="
          document.getElementsByClassName('query')[0].classList.toggle('query--compliant');
          document.getElementsByClassName('results')[0].classList.toggle('results--compliant');
        ">
          {% include svg/restart.svg %}
          Start over
        </button>
      </div>
      <div class="col col--2of3 col--right">
        <button onclick="window.print();" class="button button--secondary">
          {% include svg/print.svg %}
          Print
        </button>

        <button class="button button--secondary">
          {% include svg/code.svg %}
          Embed
        </button>
      </div>
    </div>

    {% include liability.html %}
  </main>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col col--1of2">
          <p>
            Copyright © 2020 European Science Foundation
          </p>
          <address>
            European Science Foundation<br/>
            1, quai Lezay – Marnésia<br/>
            67080 Strasbourg – France
          </address>

        </div>
        <div class="col col--1of2 col--right">
          <button class="button button--secondary">
            {% include svg/message.svg %}
            Send us feedback
          </button>
          <p>
            <a href="">Transformative Journals</a><br/>
            <a href="">Transformative Agreements</a><br/>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Init animation on scroll library -->
  <script>
    AOS.init();
  </script>

  <!-- Sticky query header on scroll  -->
  <!-- <script>
    window.onscroll = function() {makeSticky()};

    var header = document.getElementById("query-form");

    // Get the offset position of the navbar
    var sticky = header.offsetTop;

    // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function makeSticky() {
      if (window.pageYOffset > sticky) {
        header.classList.add("query-form--sticky");
      } else {
        header.classList.remove("query-form--sticky");
      }
    }
  </script> -->

  </body>

</html>
