<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../css/main.css">

  <meta name="theme-color" content="#282624">

  <!-- Animate on scroll library -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
	<!--[if IE]>
	<p class="browserupgrade">You are using an outdated browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->
  <header>
    <h2 class="label">
      <a href="/">{% include svg/oa.svg %} Journal Checker Tool</a>
    </h2>
  </header>

  <main class="container">
    <div class="row row--centered">
      <div class="col col--1of2">
        <h1>{{ page.title }}</h1>

        {{ content }}
      </div>
    </div>

    {% include liability.html %}
  </main>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col col--1of2">
          <p>
            Copyright © 2020 European Science Foundation
          </p>
          <address>
            European Science Foundation<br/>
            1, quai Lezay – Marnésia<br/>
            67080 Strasbourg – France
          </address>

        </div>
        <div class="col col--1of2 col--right">
          <button class="button button--secondary">
            {% include svg/message.svg %}
            Send us feedback
          </button>
          <p>
            <a href="">Transformative Journals</a><br/>
            <a href="">Transformative Agreements</a><br/>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Init animation on scroll library -->
  <script>
    AOS.init();
  </script>

  <!-- Sticky query header on scroll  -->
  <!-- <script>
    window.onscroll = function() {makeSticky()};

    var header = document.getElementById("query-form");

    // Get the offset position of the navbar
    var sticky = header.offsetTop;

    // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function makeSticky() {
      if (window.pageYOffset > sticky) {
        header.classList.add("query-form--sticky");
      } else {
        header.classList.remove("query-form--sticky");
      }
    }
  </script> -->

  </body>

</html>
