#jct_plugin {
  @import
    "../_sass/vendors/normalize",

    "../_sass/base/utilities",
    "../_sass/base/typescale",
    "../_sass/base/palette",
    "../_sass/base/plugin_spacing",
    "../_sass/base/plugin_grid",
    "../_sass/base/variables",
    "../_sass/base/general",

    "../_sass/components/plugin_alert",
    "../_sass/components/button",
    "../_sass/components/plugin_expression",
    "../_sass/components/header-logo",
    "../_sass/components/label",
    "../_sass/components/loading",
    "../_sass/components/modal",
    "../_sass/components/wave",
    "../_sass/components/card",
    "../_sass/components/patterned-section",
    "../_sass/components/sr-only",
    "../_sass/components/plugin_query",
    "../_sass/components/clinput",
    "../_sass/components/plugin_results";

  width: 300px;
  font-family: open sans,sans-serif;
  font-size: 12px;
  margin: 0 auto;

  .query {
    h2 {
      margin-bottom: 0;
    }

    input {
      height: 50px;

      &[name="notHE"] {
        height: 0;
      }
    }
  }

  .card {
    h4 {
      margin-top: $spacing-02;
      margin-bottom: $spacing-02;
    }
  }

  .button {
    margin-bottom: $spacing-02;
  }
}
