// Query form

// When sticky (only on desktop)
@media only screen and (min-width: 768px) {
  .query-form--sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: $yellow;

    .expression {
      align-items: center;
    }

    .expression__input label {
      display: none;
    }

    .expression__input input,
    .expression__input select {
      margin: 0;
      padding-left: 15px;
      padding-right: 15px;
      height: 50px;
      border-radius: 25px;
    }

    .expression__operator,
    .expression:last-child .expression__operator {
      margin-top: $spacing-03;
    }
  }

  .loading {
    display: flex;
    align-content: center;
    margin: auto;
  }

.loading__dots {
display: flex;

div {
  width: 0.5em;
  height: 0.5em;
  margin: 1em 0.5em 0 0;
  background: $orange;
  border-radius: 50%;
  animation: 0.75s bounce infinite alternate;

  &:nth-child(2) {
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    animation-delay: 0.4s;
  }
}
}

@keyframes bounce {
to {
  opacity: 0.3;
  transform: translate3d(0, -0.5em, 0);
}
}

}
