// Query form

// When sticky (only on desktop)
@media only screen and (min-width: 768px) {
  .query-form--sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: $yellow;

    .expression {
      align-items: center;
    }

    .expression__input label {
      display: none;
    }

    .expression__input input,
    .expression__input select {
      margin: 0;
      padding-left: 15px;
      padding-right: 15px;
      height: 50px;
      border-radius: 25px;
    }

    .expression__operator,
    .expression:last-child .expression__operator {
      margin-top: $spacing-03;
    }
  }
}
