{{ if or (.IsHome) (eq .Page.Type "minimal") }}
    <div class="header-logo">
        <h2 class="label">
            {{- partial "header-title-image.html" . -}}
            {{ .Site.Params.Header.PageTitle }}
        </h2>
        {{- partial "header-beta.html" . -}}
    </div>
{{ else }}
    <div class="header-logo">
        <h2 class="label">
            {{- partial "header-title-image.html" . -}}
            <a href="/">{{ .Site.Params.Header.PageTitle }}</a>
            {{- partial "header-beta.html" . -}}
        </h2>
    </div>
{{ end }}