html {
    height: 100%;
}
body {
    min-height: 100%;
}
.container {
    max-width:1000px;
}
.unbound {
    border:none;
    margin:0px;
}
.success {
    background-color: #689f38;
    border-color: #689f38;
}
.error {
    background-color: #d32f2f;
    border-color: #d32f2f;
}
a.button.primary {
    color:white;
}
.section {
    display: none;
    margin-top:40px;
    border-top:1px solid #ccc;
}
.help {
    display: none;
}

.paths_results {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.paths_results__tile {
    display: block;
    width: 285px;
    height: 290px;
    margin: 30px;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;

    /* black */
    color: #000000;
    border: black solid 1px;
}